<div id="posts-container">
  <div class="column1" id="left-column">
    <img src="https://placehold.co/200x250" width="200" height="250">
    <p>You: <%= current_user.email %></p>

    <p>Followers</p>
    <ul>
      <% current_user.followers.includes(:follower).each do |follower| %>
      <li><%= follower.follower.email %></li>
      <% end %>
    </ul>

    <p>Following for</p>
    <ul>
      <% current_user.following.includes(:user).each do |user| %>
      <li><%= user.user.email %></li>
      <% end %>
    </ul>
  </div>

  <div class="column2" id="right-column">
    <% current_user.posts.each_with_index do |post, index| %>
      <% if index.odd? %>
        <%= render post %>
      <% end %>
    <% end %>
  </div>
</div>